{% extends "base.twig" %}
{% block title %}ログイン{% endblock %}
{% block menu %}
              <li class="active"><a href="/">Home</a></li>
{% endblock %}
{% block content %}
<div class="row">
    <div class="span6 offset3">
        <h1>お問い合わせ確認</h1>
        <div class="well">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th class="span3">タイトル</th>
                        <td>{{contact.contact_title}}</td>
                    </tr>
                    <tr>
                        <th>内容</th>
                        <td>{{contact.contact_body}}</td>
                    </tr>
                    <tr>
                        <th>区分</th>
                        <td>{{contact.contact_type}}</td>
                    </tr>
                    <tr>
                        <th>商品URL</th>
                        <td>{{contact.contact_url}}</td>
                    </tr>
                    <tr>
                        <th>購入番号</th>
                        <td>{{contact.contact_purchase_num}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{content.email}}</td>
                    </tr>
                </tbody>
            </table>

            <div align="center">
                <form name='sendpost' action="/support/contact/complete" method="POST" class="form-horizontal">
                    <a href="/support/contact" class="btn btn-primary">戻る</a>
                    <input type="hidden" name="token" value="{{token}}">
                    <button id="complete" type="submit" class="btn btn-primary" onclick="this.disabled = true;document.sendpost.submit();">投稿する</button>
                </form>	
            </div>
        </div>

    </div>
</div>
{% endblock %}
