{% extends "base.twig" %}
{% block title %}Voyage EC{% endblock %}
{% block menu %}
<li class="active"><a href="/">Home</a></li>
{% endblock %}
{% block content %}
<div class="page-header">
<h1>コンテンツ購入ページ</h1>
</div>

<div class="page-content">
<ul>
<li>Title :{{ content.title }}</li>
<li>作者  :{{ content.author }}</li>
<li>価格 :{{ content.price }}</li>
</ul>
<img src="{{content.image_path}}" />
</div>


<form action="/content/purchase/{{content.id}}" method="POST">
<input type="hidden" id="content_id" name="content_id" value="{{ content.id }}">
<input type="hidden" id="token" name="token" value="{{ token }}">
<select name="purchase_type">
<option value="1">代金引換</option>
<option value="2" selected>クレジットカード</option>
<option value="3">コンビニ</option>
</select>

<input type="submit" value="購入する" />

</form>

{% endblock %}
