{% extends "base.twig" %}
{% block title %}Voyage EC{% endblock %}
{% block menu %}
              <li class="active"><a href="/">Home</a></li>
{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>コンテンツを読もう！！</h1>
    </div>

    <div class="page-content">
	<ul>
		<li>Title :{{ detail.title }}</li>
		<li>作者  :{{ detail.author }}</li>
		<li>カテゴリ :{{ detail.category }}</li>
		<li>価格 :{{ detail.price }}</li>
		<li> :{{ detail.description }}</li>

	</ul>
	<img src="{{detail.image_path}}" />
    </div>


{% endblock %}
