{% extends "base.twig" %}
{% block title %}新規登録{% endblock %}

{% block content %}
        <div class="row">
            <div class="span6 offset3">
                <form action="/user/register" method="POST" class="form-horizontal well">
                    {% if errors.user_name %}
                    <div class="control-group error">
                        <label class="control-label" for="user_name">ユーザー名</label>
                        <div class="controls">
                            <input type="text" id="user_name" name="user_name" class="span3" value="{{ params.user_name }}" />
                            <span class="help-inline">{{ errors.user_name }}</span>
                        </div>
                    </div>
                    {% else %}
                    <div class="control-group">
                        <label class="control-label" for="user_name">ユーザー名</label>
                        <div class="controls">
                            <input type="text" id="user_name" name="user_name" class="span3" value="{{ params.user_name }}" />
                        </div>
                    </div>
                    {% endif %}
                    {% if errors.email %}
                    <div class="control-group error">
                        <label class="control-label for="email"">メールアドレス</label>
                        <div class="controls">
                            <input type="text" id="email" name="email" class="span3" value="{{ params.email }}" />
                            <span class="help-inline">{{ errors.email }}</span>
                        </div>
                    </div>
                    {% else %}
                    <div class="control-group">
                        <label class="control-label for="email"">メールアドレス</label>
                        <div class="controls">
                            <input type="text" id="email" name="email" class="span3" value="{{ params.email }}" />
                        </div>
                    </div>
                    {% endif %}
                    {% if errors.password %}
                    <div class="control-group error">
                        <label class="control-label" for="password">パスワード</label>
                        <div class="controls">
                            <input type="password" id="password" name="password" class="span3" />
                            <span class="help-inline">{{ errors.password }}</span>
                        </div>
                    </div>
                    {% else %}
                    <div class="control-group">
                        <label class="control-label" for="password">パスワード</label>
                        <div class="controls">
                            <input type="password" id="password" name="password" class="span3" />
                        </div>
                    </div>
                    {% endif %}
                    {% if errors.birthday %}
                    <div class="control-group error">
                        <label class="control-label" for="birthday">誕生日</label>
                        <div class="controls">
                            <input type="text" id="birthday" name="birthday" class="span3" value="{{ params.birthday }}" />
                            <span class="help-inline">{{ errors.birthday }}</span>
                        </div>
                    </div>
                    {% else %}
                    <div class="control-group">
                        <label class="control-label" for="birthday">誕生日</label>
                        <div class="controls">
                            <input type="text" id="birthday" name="birthday" class="span3" value="{{ params.birthday }}" />
                            <span class="help-inline">yyyy-mm-dd形式</span>
                        </div>
                    </div>
                    {% endif %}

                    <div class="controls">
                        <button type="submit" class="btn btn-primary">新規登録</button>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}
