{% extends "base.twig" %}
{% block title %}お問い合わせ{% endblock %}
{% block menu %}
<li class="active"><a href="/">Home</a></li>
{% endblock %}
{% block content %}

<div class="row"> <div class="span6 offset3">
		
<h1>お問い合わせ詳細</h1>

<table class="table well">
<tr> <td>受付番号</td><td> <p>{{contact_detail.id}}</p> </td> </tr>
<tr> <td>タイトル</td><td> <p>{{contact_detail.contact_title}}</p> </td> </tr>
<tr> <td>内容</td> <td> <p>{{contact_detail.contact_body}}</p> </td> </td>
<tr> <td>区分</td> <td> <p>{{contact_detail.contact_type}}</p> </td> </td>
<tr> <td>商品URL</td> <td> <p>{{contact_detail.contact_content_url}}</p> </td> </td>
<tr> <td>購入番号</td> <td> <p>{{contact_detail.contact_purchase_num}}</p> </td> </td>
<tr> <td>ユーザー名</td> <td> <p>{{contact_detail.admin_name}}</p> </td> </td>
<tr> <td>Email</td> <td> <p>{{contact_detail.email}}</p> </td> </td>

<tr> 
	<td>メモ</td>
	<td>
		<form method="post" action="/admin/contact/detail/{{contact_detail.id}}">
		<textarea name="contact_memo">{{ contact_detail.contact_memo}}</textarea>
		<input type="submit" value="メモを変更する"/>
		<input type="hidden" name="action" value="update_memo"/>
		</form>
	</td>
</tr> 

<tr> 
	<td>ステータス変更</td>
	<td>
		<form method="post" action="/admin/contact/detail/{{contact_detail.id}}">
		<select name="status_id">
			<option value="1" {% if contact_detail.contact_status_id == 1 %} {{"selected"}} {% endif %}>未処理</option>
			<option value="2" {% if contact_detail.contact_status_id == 2 %} {{"selected"}} {% endif %}>対応中</option>
			<option value="3" {% if contact_detail.contact_status_id == 3 %} {{"selected"}} {% endif %}>処理済</option>
		</select>
		<input type="submit" value="変更する"/>
		<input type="hidden" name="action" value="update_status"/>
		</form>
	</td>
</tr>
</table>

<a href="/admin/contactlist" class="btn">戻る</a>

</div> </div>
{% endblock %}
