{% extends "base.twig" %}
{% block title %}お問い合わせ{% endblock %}
{% block menu %}
<li class="active"><a href="/">Home</a></li>
{% endblock %}
{% block content %}
<div class="row">
<div class="span6 offset3">
	<h1>お問い合わせ一覧</h1>

	<form action="/admin/contactlist" method="get" class="form-horizontal well">

		<select name="status_id">
			<option value="0" {% if status_id == 0 %} {{"selected"}} {% endif %}>全件表示</option>
			<option value="1" {% if status_id == 1 %} {{"selected"}} {% endif %}>未処理</option>
			<option value="2" {% if status_id == 2 %} {{"selected"}} {% endif %}>対応中</option>
			<option value="3" {% if status_id == 3 %} {{"selected"}} {% endif %}>処理済</option>
		</select>
		<input type="submit" value="絞込み" /> 
	</form>
	
	<div align="center" style="margin:25px 0 0 0">
		<table class="table" >
			<tr>
				<th>日付</th>
				<th>受付番号</th>
				<th>会員ID</th>
				<th>タイトル</th>
				<th>ステータス</th>
			<tr>
			{% for c in contacts%}
			
			<tr align="right" >
			        <td>{{c.created_at}}</td>
				<td><a href="/admin/contact/detail/{{c.id}}">{{c.id}}</a></td>
				<td>{{c.user_id}}</td>
				<td>{{c.contact_title}}</td>
				<td>{{c.status}}</td>
			</tr>
			
			{% endfor %}
		</table>
	</div>
</div>
</div>
{% endblock %}

