{% extends "base.twig" %}
{% block title %}マイページ{% endblock %}
{% block menu %}
              <li class="active"><a href="/">Home</a></li>
{% endblock %}
{% block content %}
        <div class="row">
            <div class="span6 offset3">
        

		
		<h1>マイページ</h1>




		      <table border="1" cellpadding="5" width="200" 
  		      	     summary="身近な果物を分類整理した表。
			     1列目が果物名、2列目が味の特徴、3列目が色">

  			     <tr  style="background:#ccccff" >
				<th>日付</th>
				<th>商品情報</th>
				<th>金額</th>
				<th>購入番号</th>
				<th>決済手段</th>
  			     </tr>
  			     {% for i in range(0,10) %}
			     <tr align="right" >
				<td>{{i}}</td>
				<td>{{i}}</td>
				<td>{{i}}</td>
				<td>{{i}}</td>
				<td>{{i}}</td>
  			     </tr>
			     {% endfor %}
  		
	             </table>




            </div>
        </div>
{% endblock %}
